{% load static %} 

<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}My App{% endblock %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="{% static 'bootstrap/css/bootstrap.min.css'%}"
    />
    <script src="{% static 'jquery.min.js'%}"></script>

    <script src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"
    />
  </head>
  <body>
    <div class="container">
      <br />
      <h1 class="text-center">
        Electronic transportation and vehicle deployment
      </h1>
      <hr />

      <div class="row">
        <aside class="col-sm-3"></aside>
        <aside class="col-sm-6">
          <div class="card" style="margin-top: 70px">
            <article class="card-body">
              <h4 class="card-title text-center mb-4 mt-1">Sign in</h4>
              <hr />

              {% include "registration/messages.html" %}

              <div>
                {% block content %}{% endblock content %}
              </div>
            </article>
          </div>
          <!-- card.// -->
        </aside>
        <!-- col.// -->
      </div>
      <!-- row.// -->
    </div>
    <!--container end.//-->

    <br /><br /><br />
  </body>
</html>
