
{%extends 'myapp/template/index1.html'%}


{% block content1 %}
 
 <div class="card">
            <div class="card-header">
              <h3 class="card-title">User lists </h3>
            </div>
            <!-- /.card-header -->
             <div>        <!-- /.card-header -->
             
                  {% include "registration/messages.html" %}
 
              </div>
            <div class="card-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>id</th>
                  <th>Username</th>
                  <th>E-mail</th>
                  <th>Roll</th>
                 <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for User in User_list %}

                <tr>
                    <td>{{User.id}}</td>
                    <td>{{User.username}}</td>
                    <td>{{User.email}}</td>
                    <td>{{User.Roll}}</td>

                    <td>
                <a href="{% url 'userEdit' User.id %}" class="btn btn-warning">Edit</a>
               <a href="{% url 'userDelete' User.id   %}" class="btn btn-danger delete-user" onclick="return confirm('Are you sure?') ">Delete</a>
                    </td>
                </tr>
             {% endfor %}
  
                </tbody>
                <tfoot>
                  <tr>
                  <th>id</th>
                  <th>Username</th>
                  <th>E-mail</th>
                  <th>Roll</th>
                 <th>Action</th>
                </tr>

                </tfoot>
              </table>
            </div>
            <!-- /.card-body -->
          </div>

{% endblock content1 %}
   